<div class="mx-12">
  <h1 class="my-24 text-center text-xl">Weitere Infos</h1>
  <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <div class="p-6 bg-white rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-teal-500">Kreativität trifft Technologie</h2>
      <p class="text-gray-700">Bei Finatium glauben wir an die Verbindung von Kreativität und Technologie. Unsere App bietet dir die Möglichkeit, deine finanzielle Zukunft mit Leichtigkeit und Stil zu gestalten.</p>
    </div>
    <div class="p-6 bg-white rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-teal-500">Einzigartige Erfahrungen</h2>
      <p class="text-gray-700">Tauche ein in eine Welt der Einzigartigkeit und Individualität. Finatium bietet nicht nur eine Finanzlösung, sondern eine Möglichkeit, deine persönlichen Ziele und Träume zu verwirklichen.</p>
    </div>
    <div class="p-6 bg-white rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-teal-500">Ein Hauch von Innovation</h2>
      <p class="text-gray-700">Entdecke die neuesten Trends und Innovationen im Finanzbereich mit Finatium. Wir sind stolz darauf, ständig neue Wege zu finden, um dein Finanzmanagement zu optimieren und zu vereinfachen.</p>
    </div>
    <div class="p-6 bg-white rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4 text-teal-500">Eine Welt voller Möglichkeiten</h2>
      <p class="text-gray-700">Finatium öffnet Türen zu einer Welt voller Möglichkeiten. Egal, ob du sparen, investieren oder einfach nur im Alltag effizienter sein möchtest - wir sind hier, um dir dabei zu helfen, deine Ziele zu erreichen.</p>
    </div>
    <br>
  </div>
</div>
