---
import portrait from "/main-portrait.jpg"
import paint from "/paint.png"
---

<div class="relative mx-12 flex flex-col items-center justify-center gap-12 xl:flex-row xl:gap-36">
  <div class="w-full xl:w-1/2">
    <h1 class="text-xl">
      Willkommen bei <span id="scribble" class="font-bold">Finatium</span>
    </h1>

    <div class="relative">
      <svg class="absolute h-full w-full overflow-visible">
        <defs>
          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style={{ stopColor: "#b2d800", stopOpacity: 1 }}></stop>
            <stop offset="100%" style={{ stopColor: "#C0C0FF", stopOpacity: 1 }}></stop>
          </linearGradient>
        </defs>
        <path id="border-path" fill="none" stroke="url(#gradient)" stroke-width="4"></path>
      </svg>
      <p id="anim-p" class="p-6 text-main">
        Willkommen bei <span class="font-bold text-primary">Finatium</span>, Ihrer Finanz-App, die Ihnen hilft, Geld zu sparen und Ihre Finanzen im Überblick zu behalten. <br /><br />
        Mit Finatium haben Sie Ihre Einnahmen und Ausgaben jederzeit im Griff und können mühelos Ihr Budget verwalten. Unsere App bietet Ihnen die Werkzeuge, die Sie benötigen, um Ihre finanziellen Ziele zu erreichen.<br /><br />
        Bleiben Sie informiert, sparen Sie klug und erreichen Sie finanzielle Freiheit mit Finatium. Tauchen Sie ein in eine Welt, in der Ihre Finanzen einfach und verständlich sind!
      </p>
    </div>
    <div class="flex justify-center pt-12 text-center text-main text-content xl:gap-16">
      <div class="w-32">
        <h2>Benutzer</h2>
        <p id="art-counter" class="text-xl font-bold">85k</p>
      </div>
      <div class="w-32">
        <h2>Downloads</h2>
        <p id="youtube-counter" class="text-xl font-bold">1.2m</p>
      </div>
      <div class="w-32">
        <h2>Bewertungen</h2>
        <p id="reviews-counter" class="text-bold text-xl font-bold">250+</p>
      </div>
    </div>
  </div>
  
  <div class="relative">
    <img class="h-full" src="/finatium.png" alt="Finatium Portrait" style="width: 50%; height: auto;" />
    <div id="paint" class="absolute bottom-0 right-0 translate-y-1/4">
       {/* <img src="/finatium.png" alt="paint" /> */}
    </div>
  </div>
</div>
<div class="mt-12 h-6 w-full bg-black"></div>

<style>
  #border-path {
    animation: draw 1s forwards 1s ease-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>

<script>
  function updatePath() {
    const textMain = document.querySelector("#anim-p") as HTMLElement;
    const path = document.querySelector("#border-path") as SVGPathElement;

    if (textMain && path) {
      path.setAttribute(
        "d",
        `M0,0 V${textMain.offsetHeight} H${textMain.offsetWidth} v${textMain.offsetHeight / 2}`
      );
      const pathLength = path.getTotalLength();

      path.style.strokeDasharray = pathLength.toString();
      path.style.strokeDashoffset = pathLength.toString();
    }
  }

  // Increment
  function incrementCounter(selector: string, current: number, target: number, duration: number, letter: string = "") {
    let counter = document.getElementById(selector);
    let stepTime = Math.abs(Math.floor(duration / target));
    if (current < target && counter) {
      current++;
      counter.innerText = current.toString() + letter;
      setTimeout(() => incrementCounter(selector, current, target, duration, letter), stepTime);
    }
  }
  incrementCounter("art-counter", 0, 85, 1000, "k");
  incrementCounter("youtube-counter", 0, 1200, 1000, "k");
  incrementCounter("reviews-counter", 0, 250, 1000);

  // Update the path when the page loads
  window.addEventListener("DOMContentLoaded", updatePath);
  // Update the path when the window is resized
  window.addEventListener("resize", updatePath);
</script>
